<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Nova Solicitação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">

  <ion-item color="translucent">

    <ion-avatar slot="start">
      <img src={{imgUrl}}>
    </ion-avatar>
    <ion-label text-wrap>
      <h2>{{tipo}}</h2>
    </ion-label>
  </ion-item>

  <form>

    <ion-item color="translucent">
      <ion-label position="floating">Descrição</ion-label>
      <ion-textarea placeholder="Digite a descrição aqui..." [(ngModel)]="solicitNew.descricao" name="descricao"
        type="text"></ion-textarea>
    </ion-item>



  </form>

  <div style="margin-top: 5%;" id="map"></div>

  <ion-card class="background">
    <ion-card-header>
      <strong>Imagem:</strong>
    </ion-card-header>
    <ion-item color="translucent" *ngIf="picture!=null">
      <img [src]="picture">
    </ion-item>
    <div *ngIf="picture==null; else elseTemplate" color="translucent">

      <ion-button style="width: 42.5%;margin-left: 5%;margin-right: 2.5%;" (click)="getCameraPicture()"
        [disabled]="cameraOn">Camera</ion-button>
      <ion-button style="width: 42.5%;margin-left: 2.5%;margin-right: 5%;" (click)="getGalleryPicture()"
        [disabled]="cameraOn">Galeria</ion-button>
    </div>
    <ng-template #elseTemplate color="translucent">

      <ion-button style="width: 30%;margin-left: 2%;margin-right: 1%;" (click)="getCameraPicture()"
        [disabled]="cameraOn">Camera</ion-button>
      <ion-button style="width: 30%;margin-left: 1%;margin-right: 1%;" (click)="getGalleryPicture()"
        [disabled]="cameraOn">Galeria</ion-button>
      <ion-button color="danger" style="width: 30%;margin-left: 1%;margin-right: 2%;" (click)="cancel()">Descartar
      </ion-button>
    </ng-template>
  </ion-card>

  <ion-button class="button" expand="block" (click)="solicitar()">Solicitar</ion-button>

</ion-content>