<ion-router-outlet id="content"></ion-router-outlet>

<ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-menu-button autoHide="false"></ion-menu-button>

  </ion-buttons>

  <ion-title>Criar solicitação</ion-title>
</ion-toolbar>

<ion-content class="background">

    <ion-list class="ion-list-background">
      <ion-item color="translucent" detail *ngFor="let item of items" (click)="novaSolicitacao(item.nome,item.id,item.imgUrl)">
  
  
        <ion-avatar slot="start">
          <img
            src={{item.imgUrl}}>
        </ion-avatar>
        <ion-label text-wrap>
          <h2>{{item.nome}}</h2>
        </ion-label>
      </ion-item>
  
    </ion-list>
  


</ion-content>