<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title >
      Cidadão Online
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <div class="mybackground">

      <img
    src="/assets/imgs/logo_.png">

    <div class="container">
      <ion-button class="button" expand="block" [routerLink]="['/login-cidadao']">
        Área Cidadão
      </ion-button>
    
      <ion-button class="button" expand="block" [routerLink]="['/login-gestor']">
        Área Gestor
      </ion-button>

    </div>

  </div>
  
  
  


</ion-content>
